html{
	scroll-behavior: smooth;
}

*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}

#hero{
	height: 100vh;
	width: 100%;
	background-image: url(../img/bgpage1.png);
	background-size: cover;
	background-position: center;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 45px;
	padding-left: 8%;
	padding-right: 8%;
}

.logo{
	color: black;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}

span{
	color: #9D69FF;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}

nav ul li a{
	color: black;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}

nav ul li a:hover{
	color: #9D69FF;
	transition: .4s;
}

.about img{
	height: auto;
	width: 400px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h6{
	color: black;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h6{
	color: black;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: black;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}

#edu{
	width: 100%;
	height: 100vh;
	padding: 100px 0px;
	background-image: url(../img/background3.png);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#edu h1{
	height: 100px;
}

.detail{
	color: black;
	font-size: 17px;
	width: 100%;
	height: auto;
	text-align: center;
	line-height: 30px;
}

#edu ul li{
	width: 100%;
	font-size: 20px;
	color: black;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
	float: left;
}

#contact-me{
	width: 100%;
	height: 300px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	background-color: rgb(241, 241, 241);
}

#contact-me p{
	color: black;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}

#contact-me .button-two{
	background-color:#9D69FF;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}

#contact-me .button-two:hover{
	border: 2px solid #9D69FF;
	cursor: pointer;
}

footer{
	position: relative;
	width: 100%;
	height: 400px;
	background-image: url(../img/background4.png);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer p:nth-child(1){
	font-size: 30px;
	color: black;
	margin-bottom: 20px;
	font-weight: bold;
}

footer p:nth-child(2){
	color: black;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}

.social{
	display: flex;
}

.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #9D69FF;
	border-radius: 50%;
	margin: 22px 10px;
	color: black;
	text-decoration: none;
	font-size: 20px;
}

.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}

.end{
	position: absolute;
	color:#9D69FF;
	bottom: 35px;
	font-size: 14px; 
}